## Importing pandas, numpy, os and dataset

In [4]:
import pandas as pd
import numpy as np
import os

In [6]:
path = r'C:\Users\BaratSakhizada\Desktop\Achievement 4\02 Data\Prepared Data'

In [14]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Exercise 4.7 - New Variables Derived.pickle'))

In [16]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,merge1_indicator,Unnamed: 0,product_name,aisle_id,department_id,prices,merge2,busiest_day,busiest_days,busiest_hours
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,195,Soda,77,7,9.0,both,Regularly busy,regularly_busy_days,Average orders
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,regularly_busy_days,Average orders
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,regularly_busy_days,Average orders
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,regularly_busy_days,Average orders
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,regularly_busy_days,Average orders

## Finding the aggregated mean of the order_number grouped by department_id

In [19]:
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225766
8                15.340650
9                15.895474
10               20.197148
11               16.151815
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.663573
17               15.694469
18               19.310047
19               17.177343
20               16.473447
21               22.902379

In [21]:
### mean of the entire dataframe does not differ much from the mean of the subset. Both are very much similar. 
### This is maybe because all the 21 departments recorded a similar number of orders throughout the data collection period.

## Creating loyalty flag using transform() and loc()

In [26]:
# we split the data into groups based on the “user_id” column.
# then we apply the transform() function on the “order_number” column to generate the maximum orders for each user.
# and we create a new column, “max_order,” into which you’ll place the results of your aggregation.
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id']) ['order_number'].transform(np.max)

C:\Users\BaratSakhizada\AppData\Local\Temp\ipykernel_23196\2078088473.py:4: FutureWarning: The provided callable <function max at 0x0000022446F03E20> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id']) ['order_number'].transform(np.max)

In [30]:
# we check whether the required changes are applied to out dataframe or not
df_ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,Unnamed: 0,product_name,aisle_id,department_id,prices,merge2,busiest_day,busiest_days,busiest_hours,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,195,Soda,77,7,9.0,both,Regularly busy,regularly_busy_days,Average orders,10
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,regularly_busy_days,Average orders,10
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,regularly_busy_days,Average orders,10
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,regularly_busy_days,Average orders,10
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,regularly_busy_days,Average orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,prior,4,2,10,8.0,21150,13,0,...,21151,Fire Grilled Steak Bowl,38,1,5.9,both,Regularly busy,regularly_busy_days,Most orders,14
96,1673511,2,prior,5,3,11,8.0,47144,1,0,...,47148,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,Regularly busy,slowest_days,Most orders,14
97,1673511,2,prior,5,3,11,8.0,5322,2,0,...,5322,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,Regularly busy,slowest_days,Most orders,14
98,1673511,2,prior,5,3,11,8.0,17224,3,0,...,17224,Oats & Honey Gluten Free Granola,3,19,1.6,both,Regularly busy,slowest_days,Most orders,14
99,1673511,2,prior,5,3,11,8.0,38656,4,0,...,38660,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,Regularly busy,slowest_days,Most orders,14

## Deriving Columns with Loc()

In [33]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [35]:
# in the above syntax, we assigned loyalty levels to customers based on their numer of orders. 
# customers with orders more than 40 are assigned as loyal.
# customers with orders between 10 to 40 are assigned as regular customars.
# customers with less than 10 orders are assigned as new customers.

In [39]:
pd.options.display.max_rows = None

In [43]:
# we check the first 100 rows of the dataframe to see the changes.
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(100)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1
60        2  Regular customer             1
61        2  Regular customer             1
62        2  Regular customer             1
63        2  Regular customer             1
64        2  Regular customer             1
65        2  Regular customer             1
66        2  Regular customer             1
67        2  Regular customer             1
68        2  Regular customer             1
69        2  Regular customer             1
70        2  Regular customer             1
71        2  Regular customer             1
72        2  Regular customer             2
73        2  Regular customer             2
74        2  Regular customer             2
75        2  Regular customer             2
76        2  Regular customer             2
77        2  Regular customer             2
78        2  Regular customer             3
79        2  Regular customer             3
80        2  Regular customer             3
81        2  Regular customer             3
82        2  Regular customer             3
83        2  Regular customer             4
84        2  Regular customer             4
85        2  Regular customer             4
86        2  Regular customer             4
87        2  Regular customer             4
88        2  Regular customer             4
89        2  Regular customer             4
90        2  Regular customer             4
91        2  Regular customer             4
92        2  Regular customer             4
93        2  Regular customer             4
94        2  Regular customer             4
95        2  Regular customer             4
96        2  Regular customer             5
97        2  Regular customer             5
98        2  Regular customer             5
99        2  Regular customer             5

In [47]:
# we check the count of each category using .value_counts() function. 
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15878786
Loyal customer      10284501
New customer         6244992
Name: count, dtype: int64

## checking the spending habits of loyalty groups

The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [59]:
# using groupby and agg() to determine the mean and median of prices for the loyalty groups
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'median']})

                     prices
                       mean median
loyalty_flag
Loyal customer    10.386193    7.4
New customer      13.293630    7.4
Regular customer  12.494994    7.4

The mean of price for the loyal customer is the lowest compared to the two other groups. This may have partly and positively affected their spending decision. Following the same result, the mean of price for regular customer is lower than the new customer. Looking at the mean value of price, we may be able to conclude that lower prices led to increased number of orders.

## Creating a spending flag based on average price

The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [73]:
# creating a new average_price column with average of price based on user_id
df_ords_prods_merge['average_price'] = df_ords_prods_merge.groupby(['user_id']) ['prices'].transform(np.mean)

C:\Users\BaratSakhizada\AppData\Local\Temp\ipykernel_23196\1777075230.py:2: FutureWarning: The provided callable <function mean at 0x0000022446F10860> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['average_price'] = df_ords_prods_merge.groupby(['user_id']) ['prices'].transform(np.mean)

In [77]:
# checking if the changes are applied.
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,merge2,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,average_price
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,91,16,12.5,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,23,19,4.4,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,23,19,4.7,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,54,17,1.0,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797

In [85]:
df_ords_prods_merge.loc[df_ords_prods_merge['average_price'] >= 10, 'loyalty_flag2'] = 'Higher Spender'
df_ords_prods_merge.loc[df_ords_prods_merge['average_price'] < 10, 'loyalty_flag2'] = 'Lower Spender'

In [95]:
# checking the changes in the three targeted columns 
df_ords_prods_merge[['user_id', 'average_price', 'loyalty_flag2']].head(100)

    user_id  average_price  loyalty_flag2
0         1       6.367797  Lower Spender
1         1       6.367797  Lower Spender
2         1       6.367797  Lower Spender
3         1       6.367797  Lower Spender
4         1       6.367797  Lower Spender
5         1       6.367797  Lower Spender
6         1       6.367797  Lower Spender
7         1       6.367797  Lower Spender
8         1       6.367797  Lower Spender
9         1       6.367797  Lower Spender
10        1       6.367797  Lower Spender
11        1       6.367797  Lower Spender
12        1       6.367797  Lower Spender
13        1       6.367797  Lower Spender
14        1       6.367797  Lower Spender
15        1       6.367797  Lower Spender
16        1       6.367797  Lower Spender
17        1       6.367797  Lower Spender
18        1       6.367797  Lower Spender
19        1       6.367797  Lower Spender
20        1       6.367797  Lower Spender
21        1       6.367797  Lower Spender
22        1       6.367797  Lower Spender
23        1       6.367797  Lower Spender
24        1       6.367797  Lower Spender
25        1       6.367797  Lower Spender
26        1       6.367797  Lower Spender
27        1       6.367797  Lower Spender
28        1       6.367797  Lower Spender
29        1       6.367797  Lower Spender
30        1       6.367797  Lower Spender
31        1       6.367797  Lower Spender
32        1       6.367797  Lower Spender
33        1       6.367797  Lower Spender
34        1       6.367797  Lower Spender
35        1       6.367797  Lower Spender
36        1       6.367797  Lower Spender
37        1       6.367797  Lower Spender
38        1       6.367797  Lower Spender
39        1       6.367797  Lower Spender
40        1       6.367797  Lower Spender
41        1       6.367797  Lower Spender
42        1       6.367797  Lower Spender
43        1       6.367797  Lower Spender
44        1       6.367797  Lower Spender
45        1       6.367797  Lower Spender
46        1       6.367797  Lower Spender
47        1       6.367797  Lower Spender
48        1       6.367797  Lower Spender
49        1       6.367797  Lower Spender
50        1       6.367797  Lower Spender
51        1       6.367797  Lower Spender
52        1       6.367797  Lower Spender
53        1       6.367797  Lower Spender
54        1       6.367797  Lower Spender
55        1       6.367797  Lower Spender
56        1       6.367797  Lower Spender
57        1       6.367797  Lower Spender
58        1       6.367797  Lower Spender
59        2       7.515897  Lower Spender
60        2       7.515897  Lower Spender
61        2       7.515897  Lower Spender
62        2       7.515897  Lower Spender
63        2       7.515897  Lower Spender
64        2       7.515897  Lower Spender
65        2       7.515897  Lower Spender
66        2       7.515897  Lower Spender
67        2       7.515897  Lower Spender
68        2       7.515897  Lower Spender
69        2       7.515897  Lower Spender
70        2       7.515897  Lower Spender
71        2       7.515897  Lower Spender
72        2       7.515897  Lower Spender
73        2       7.515897  Lower Spender
74        2       7.515897  Lower Spender
75        2       7.515897  Lower Spender
76        2       7.515897  Lower Spender
77        2       7.515897  Lower Spender
78        2       7.515897  Lower Spender
79        2       7.515897  Lower Spender
80        2       7.515897  Lower Spender
81        2       7.515897  Lower Spender
82        2       7.515897  Lower Spender
83        2       7.515897  Lower Spender
84        2       7.515897  Lower Spender
85        2       7.515897  Lower Spender
86        2       7.515897  Lower Spender
87        2       7.515897  Lower Spender
88        2       7.515897  Lower Spender
89        2       7.515897  Lower Spender
90        2       7.515897  Lower Spender
91        2       7.515897  Lower Spender
92        2       7.515897  Lower Spender
93        2       7.515897  Lower Spender
94        2       7.515897  Lower Spender
95        2       7.515897  Lower Spender
96        2       7.515897  Lower Spender
97        2       7.515897  Lower Spender
98        2       7.515897  Lower Spender
99        2       7.515897  Lower Spender

In [97]:
df_ords_prods_merge['loyalty_flag2'].value_counts(dropna = False)

loyalty_flag2
Lower Spender     31773989
Higher Spender      634290
Name: count, dtype: int64

## Creating order frequency flag

In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [101]:
df_ords_prods_merge['median_prior_order'] = df_ords_prods_merge.groupby(['user_id']) ['days_since_prior_order'].transform(np.median)

C:\Users\BaratSakhizada\AppData\Local\Temp\ipykernel_23196\3480290121.py:1: FutureWarning: The provided callable <function median at 0x000002244703BB00> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['median_prior_order'] = df_ords_prods_merge.groupby(['user_id']) ['days_since_prior_order'].transform(np.median)

In [105]:
# checking whether the changes are applied
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,merge2,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,average_price,loyalty_flag2,median_prior_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797,Lower Spender,20.5
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,12.5,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797,Lower Spender,20.5
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,4.4,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797,Lower Spender,20.5
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,4.7,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797,Lower Spender,20.5
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,1.0,both,Regularly busy,regularly_busy_days,Average orders,10,New customer,6.367797,Lower Spender,20.5

In [119]:
# applying the conditions to categorize customers into three distinct groups based on frequency of their orders.
df_ords_prods_merge.loc[df_ords_prods_merge['median_prior_order'] > 20, 'loyalty_flag3'] = 'Non-frequent customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['median_prior_order'] <= 20) & (df_ords_prods_merge['median_prior_order'] > 10), 'loyalty_flag3'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['median_prior_order'] <= 10, 'loyalty_flag3'] = 'Frequent customer'

In [115]:
df_ords_prods_merge[['user_id', 'days_since_prior_order', 'loyalty_flag3']].head(100)

    user_id  days_since_prior_order          loyalty_flag3
0         1                     NaN  Non-frequent customer
1         1                     NaN  Non-frequent customer
2         1                     NaN  Non-frequent customer
3         1                     NaN  Non-frequent customer
4         1                     NaN  Non-frequent customer
5         1                    15.0  Non-frequent customer
6         1                    15.0  Non-frequent customer
7         1                    15.0  Non-frequent customer
8         1                    15.0  Non-frequent customer
9         1                    15.0  Non-frequent customer
10        1                    15.0  Non-frequent customer
11        1                    21.0  Non-frequent customer
12        1                    21.0  Non-frequent customer
13        1                    21.0  Non-frequent customer
14        1                    21.0  Non-frequent customer
15        1                    21.0  Non-frequent customer
16        1                    29.0  Non-frequent customer
17        1                    29.0  Non-frequent customer
18        1                    29.0  Non-frequent customer
19        1                    29.0  Non-frequent customer
20        1                    29.0  Non-frequent customer
21        1                    28.0  Non-frequent customer
22        1                    28.0  Non-frequent customer
23        1                    28.0  Non-frequent customer
24        1                    28.0  Non-frequent customer
25        1                    28.0  Non-frequent customer
26        1                    28.0  Non-frequent customer
27        1                    28.0  Non-frequent customer
28        1                    28.0  Non-frequent customer
29        1                    19.0  Non-frequent customer
30        1                    19.0  Non-frequent customer
31        1                    19.0  Non-frequent customer
32        1                    19.0  Non-frequent customer
33        1                    20.0  Non-frequent customer
34        1                    20.0  Non-frequent customer
35        1                    20.0  Non-frequent customer
36        1                    20.0  Non-frequent customer
37        1                    20.0  Non-frequent customer
38        1                    14.0  Non-frequent customer
39        1                    14.0  Non-frequent customer
40        1                    14.0  Non-frequent customer
41        1                    14.0  Non-frequent customer
42        1                    14.0  Non-frequent customer
43        1                    14.0  Non-frequent customer
44        1                     0.0  Non-frequent customer
45        1                     0.0  Non-frequent customer
46        1                     0.0  Non-frequent customer
47        1                     0.0  Non-frequent customer
48        1                     0.0  Non-frequent customer
49        1                     0.0  Non-frequent customer
50        1                    30.0  Non-frequent customer
51        1                    30.0  Non-frequent customer
52        1                    30.0  Non-frequent customer
53        1                    30.0  Non-frequent customer
54        1                    30.0  Non-frequent customer
55        1                    30.0  Non-frequent customer
56        1                    30.0  Non-frequent customer
57        1                    30.0  Non-frequent customer
58        1                    30.0  Non-frequent customer
59        2                     NaN       Regular customer
60        2                     NaN       Regular customer
61        2                     NaN       Regular customer
62        2                     NaN       Regular customer
63        2                     NaN       Regular customer
64        2                     NaN       Regular customer
65        2                     NaN       Regular customer
66        2                     NaN       Regular customer
67        2                     NaN       Regular customer
68        2                     NaN       Regular customer
69        2                     NaN       Regular customer
70        2                     NaN       Regular customer
71        2                     NaN       Regular customer
72        2                    10.0       Regular customer
73        2                    10.0       Regular customer
74        2                    10.0       Regular customer
75        2                    10.0       Regular customer
76        2                    10.0       Regular customer
77        2                    10.0       Regular customer
78        2                     3.0       Regular customer
79        2                     3.0       Regular customer
80        2                     3.0       Regular customer
81        2                     3.0       Regular customer
82        2                     3.0       Regular customer
83        2                     8.0       Regular customer
84        2                     8.0       Regular customer
85        2                     8.0       Regular customer
86        2                     8.0       Regular customer
87        2                     8.0       Regular customer
88        2                     8.0       Regular customer
89        2                     8.0       Regular customer
90        2                     8.0       Regular customer
91        2                     8.0       Regular customer
92        2                     8.0       Regular customer
93        2                     8.0       Regular customer
94        2                     8.0       Regular customer
95        2                     8.0       Regular customer
96        2                     8.0       Regular customer
97        2                     8.0       Regular customer
98        2                     8.0       Regular customer
99        2                     8.0       Regular customer

In [121]:
# checking number of customers falling under each category
df_ords_prods_merge['loyalty_flag3'].value_counts(dropna = False)

loyalty_flag3
Frequent customer        21561294
Regular customer          7209855
Non-frequent customer     3637125
NaN                             5
Name: count, dtype: int64

## Exporting the dataset

In [124]:
path = r'C:\Users\BaratSakhizada\Desktop\Achievement 4\02 Data\Prepared Data'

In [126]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Exercise 4.8 Grouping and Aggregating - entire dataset.pickle'))